<h4>マイリスト</h4>
<div class="chart-area">
    <% @tradingviews.each do |tradingview| %>
        <div class="blog-card">
            <%= render :partial => "shared/tradingview", locals: { symbol_code: tradingview.code, container_id: tradingview.container_id} %>
        </div>
    <% end %> 
</div>
