<div class="container">
  <ul class="timeline">
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
			<blockquote class="twitter-tweet" data-theme="light"><p lang="ja" dir="ltr">今週の注目株①6315.TOWA<br><br>半導体製造関連装置大手。上方修正で上昇も、直近は地合いとトヨタ減産の連れ安で下落中（予想）<br><br>テクニカル的には上方で急騰＆最高出来高をつけた7月30日の価格帯まで全戻しし、25MA比-2%、75MA比+4%と節目感強い印象。今週どんな展開になるのか注目したい。 <a href="https://t.co/1uYBv2ZrEt">pic.twitter.com/1uYBv2ZrEt</a></p>&mdash; タカニキ@金持ち戦略ch (@make_life_rich) <a href="https://twitter.com/make_life_rich/status/1429272298687631366?ref_src=twsrc%5Etfw">August 22, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			
        </div>
      </div>
      <div class="chart-view">
	  	<%= render :partial => "shared/tradingview" %>
      </div>
    </li>
  </ul>
</div>