<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag 'machine.jpg', id: "icon-header", class: "image" %>
      <%= link_to "america stocks - analytics", '#', id: "logo" %>
    </div>
  </div>
</header>