<div class="menu">
  <nav>
    <ul>
      
      <li class="menu-disp"><a href="#"><%= image_tag 'chart.png', class: "icon-menu" %> Top</a></li>
      <li class="menu-disp"><a href="#"><%= image_tag 'list.png', class: "icon-menu" %> MyList</a></li>
      <li class="has-child menu-disp"><a href="#">Service</a><!--子要素を持つ li にはhas-childというクラス名をつける-->
        <ul>
          <li class="menu-disp-child"><a href="#">Service Top</a></li>
          <li class="menu-disp-child"><a href="#">Service-1</a></li>
          <li class="has-child"><a href="#">Service-2</a>
          </li>
          <li><a href="#">Service-3</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>