// Place all the styles related to the Stock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-stocks{
    margin-top: 3%;
    color: #e3e3e3;

    tr:hover td {
        background-color: #222;
        cursor: pointer;
    }

    .table-index-th{
        background-color: #222;
        /* box-shadow: 1px 1px 1px 1px; */
        // box-shadow: 3px 0px 4px rgb(0 0 0 / 50%);
    }
    
    .table-index-tr{
    }

    img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    th{
        padding: 4px
    }
    
    td{
        padding: 2px;
    }
}

